@import '../base';

@import '../components/button';

@import '../v-components/singup/_singup';
@import '../v-components/lego-header/lego-header';
@import '../v-components/progress-circle/progress-circle';

body {
    height: 100vh;
    overflow: hidden;
}

.main {
    padding: 30px;
    display: flex;

    &-left {
        flex: 0 0 25%;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        color: $color-grey-dark;
        overflow-y: scroll;
        height: calc(100vh - 120px);

        &-box {
            border-left: 5px solid $color-grey;
        }

        .step {
            margin-bottom: 20px;
            padding: 10px;
            position: relative;
            cursor: pointer;
            
            &-title {
                margin: 15px 0;
                font-weight: bold;
                font-size: 22px;
            }

            &-result {
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                margin: 30px 0 10px;
                height: 50px;
            }

            &-result-label {
                margin-bottom: 2px;
                flex: 0 0 30%;
            }

            &-result-text {
                padding: 15px 0;
                display: inline-block;
                width: 180px;
                height: 100%;
                text-align: center;
                background: $color-grey;
                font-size: 20px;
                font-weight: bold;
            }

            &-result-text-small {
                font-size: 16px;
            }

            &:not(:last-child):after {
                content: '';
                display: block;
                height: 1px;
                position: absolute;
                bottom: -10px;
                width: 100%;
                left: 0;
                background: $color-brown;
            }

            &:hover {
                background: #fbf6f1;
                color: $color-black;
            }
        }

        .step-active {
            background: #fbf6f1;
            color: $color-black;
        }

        .step-active:before,.step-completed:before {
            content: '';
            display: block;
            width: 5px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -5px;
            background: #4c71ba;
        }

        .btn-normal {
            align-self: center;
            margin-bottom: 30px;
        }

    }

    &-right {
        padding: 0 15px;
        flex: 0 0 75%;

        &-top {

            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .title {
                flex: 1 0 auto;
                text-align: center;
                font-size: 40px;
                font-weight: bold;
            }

            &_right {
                h4 {
                    padding: 20px 0 30px;
                    font-size: 22px;
                    font-weight: bold;
                }
            }

        }

        &-wrapper {
            height: 65%;
        }

        &-box {
            display: none;
            justify-content: space-between;
            height: 100%;
            position: relative;

            &-1 {
                height: 16%;
            }
        }

        &_left,&_right {
            background: #f6f6f6;
        }

        &_left {
            flex: 0 0 40%;

            .input {
                margin-top: 5px;
                padding: 10px;
                width: 100%;
                text-align: center;
            }

            .input-box {
                padding: 10px 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    margin-bottom: 15px;
                }

                input {
                    width: 80%;
                    padding: 10px 0;
                    margin-bottom: 15px;
                    text-align: center;
                }
            }

            .parameter-box {
                padding: 10px 0 0;
                margin-top: 10px;
                
                .parameter {
                    margin-bottom: 5px;
                    padding: 5px 0;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        background: #dde6f2;
                    }
                }

            }

            .factor-wrapper {
                padding: 10px 0 0;

                .factor-box {
                    td {
                        padding: 10px 0 ;
                    }
                }
            }

            &:first-child{
                overflow-y: scroll;
            }

        }

        &_right {
            flex: 0 0 58%;
            text-align: center;

            h4 {
                padding: 30px;
            }

            &-img {
                padding-top: 15px;
                max-width: 400px;
                width: 100%;
            }
        }

        &-bottom {
            margin-top: 30px;
            position: absolute;
            bottom: -70px;
            width: 100%;

            .step-result {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                &-text {
                    flex: 0 0 50%;
                    margin: 0 20px;
                    border-radius: 5px;
                    padding: 10px;
                    text-align: center;
                    background: #997e61;
                    color: $color-white;
                    height: 40px;
                }

                &-1,&-2 {
                    flex: 0 0 25%;
                }

                &-text-1, &-text-2 {
                    flex: 0 0 25%;
                    position: relative;
                }

                &-text-1:before, &-text-2:before {
                    display: block;
                    position: absolute;
                    top: -25px;
                    width: 100%;
                    left: 0;
                    color: $color-black;
                }

                &-text-1:before {
                    content: '樣本內';
                }

                &-text-2:before {
                    content: '樣本外';
                }
            }

        }
    }
}
